# -------- Ollama  --------
OLLAMA_HOST=0.0.0.0
OLLAMA_KEEP_ALIVE=-1
OLLAMA_CONTEXT_LENGTH=32768
OLLAMA_NUM_PARALLEL=1
OLLAMA_FLASH_ATTENTION=1
OLLAMA_KV_CACHE_TYPE=q8_0
OLLAMA_MAX_WORKERS=8
OLLAMA_NUM_THREADS=16
OLLAMA_CACHE_SIZE=8GB
OLLAMA_ENABLE_PARALLEL_DECODE=1
# OLLAMA_MAX_LOADED_MODELS=2

# -------- Docker 资源限制 --------
# CPU 限制 (核)
LIMIT_CPUS=16.0
# memory 限制 (GB)
LIMIT_MEMORY=96g

# -------- 端口 --------
PORT=8000


